<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Application</title>
</head>
<body>

    <div ng-app="app" class="app">
        <div ng-controller="ContactController as vm">
            <ul>
                <li ng-repeat="contact in vm.contacts">
                    <h4>Name: <input ng-model="contact.name" /></h4>
                    <h6>Phone: <input ng-model="contact.phone" /></h6>
                </li>
            </ul>

            <button class="button" ng-click="vm.addContact()">Add Contact</button>
        </div>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/ContactController.js"></script>

</body>
</html>
